**/*.egg-info
*.egg-info
.pixi

# ROS / catkin
build/
devel/
install/
logs/

# Python
__pycache__/
*.pyc

# VSCode / editors
.vscode/
.idea/

# OS
.DS_Store

# PyTorch models
*.pth
*.pt

# CSV files
*.csv

# Datasets
data/*

# Videos
*.avi
*.mkv
*.mov
*.mp4
*.webm
*.wmv

# WandB logs
**/wandb/

# Plots
*.png
*.jpg
*.jpeg
*.svg

# Allow textures of meshes
!**/meshes/**/*.png

# Handeye calibration output
**/handeye_params.toml

# Proprietary end-effector 3D model
**/end_effector.stl

# Ignore any test meshes
**/tests/**/*.stl
**/tests/**/*.obj
**/tests/**/*.mtl