# ROS / catkin
build/
devel/
install/
logs/

# Python
__pycache__/
*.pyc

# VSCode / editors
.vscode/
.idea/

# OS
.DS_Store

# PyTorch models
*.pth
*.pt

# CSV files
*.csv

# Datasets
data/*

# Videos
*.avi
*.mkv
*.mov
*.mp4
*.webm
*.wmv

# WandB logs
**/wandb/